
<div class="center jumbotron">
  <h1>PhotoBam!</h1>

  <h2>Become a member of the next best photo-sharing app.</h2>

  <%= link_to "Sign up!", signup_path, class: "btn btn-lg btn-primary" %>

</div>
